/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #240202;
    color: #bd4f4f;
}

/* Estilos para el encabezado */
.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    margin: 0;
    font-size: 5em; /* Tamaño del título */
    font-family: initial;
    color: #a01212; 
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
}

.header-nav li {
    display: inline-block;
    margin-right: 20px;
}

.header-nav li:last-child {
    margin-right: 0;
}

.header-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.header-nav a:hover {
    background-color: #ff3333;
}

/* Estilos para las secciones */
section {
    border: 2px solid #ff4d4d;
    border-radius: 10px;
    margin: 0 auto; /* Centra horizontalmente */
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

section h2 {
    color: #943333;
    font-size: 2em; /* Tamaño de los subtítulos */
}

section p {
    font-size: 1.1em; /* Tamaño del texto */
    color: #cebdbd; /* Color del texto */
}

/* Estilos para los botones */
.btn {
    background-color: #e24343;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em; /* Tamaño del texto */
    margin-top: 20px;
    display: inline-block;
}

.btn:hover {
    background-color: #ff3333;
    color: #000;
}

/* Estilos para las secciones individuales */
.about-author { background-color: #5e0303; width: 90%; }
.about-author h2 { color: #000000;} /* Cambia este valor al color deseado */
.description { background-color: #330000; width: 80%; }
.excerpts { background-color: #660000; width: 85%; }
.benefits { background-color: #800000; width: 75%; }
.testimonials { background-color: #990000; border: 2px solid #000000; width: 85%; }
.faq { background-color: #b30000; width: 80%; }
.special-offer { background-color: #cc0000; border: 2px solid #ff9999; width: 75%; }
.contact-form { background-color: #e60000; width: 80%; }
.contact-form h2 {color: #160b7a;}
.social-media { background-color: #ff0000; border: 2px solid #ff9999; width: 85%; }
.cta { background-color: #ff3333; width: 80%; }

a {
    color: #df0606; /* Cambia este valor al color deseado */
    text-decoration: none; /* Opcional: para eliminar el subrayado de los enlaces */
}

a:hover {
    color: #f36b6b; /* Cambia este valor al color deseado */
}

footer {
    height: 100px; /* Establece la altura del footer */
    width: 95%;
    bottom: 0; /* Lo coloca al final de la ventana del navegador */
    background-color: #949090; /* Color de fondo */
    color: #1900ff; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 20px; /* Espaciado interno */
    border-top: 1px solid #666; /* Borde superior */
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin : 0 auto
}

.custom8 form {
    background-color: #e7b9b9; /* Color de fondo */
    color: #333; /* Color del texto */
}

.custom8 input[type="text"],
.custom8 input[type="email"],
.custom8 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.custom8 input[type="submit"] {
    background-color: #6e1111; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom8 input[type="submit"]:hover {
    background-color: #555; /* Cambia de color al pasar el ratón */
}

.custom8 label {
    display: block;
    margin-bottom: 5px;
}

.custom8 input[type="checkbox"] {
    margin-top: 10px;
}

